
   
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600&display=swap');


*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #fff;
}
body{
    font-size: 100%;
    list-style-type: none;
    font-family:'Roboto', sans-serif;
    background-color: #fff;
    line-height: 1.5;
    
}

/* Font */

:root{
    --big-font-size: 50px;
    --normal-font-size: 16px;
    --medium-font-size: 30px;
    --smal-font-size: 12px;
}

/* color */

:root{
    --color-header-1: #032469;
    --color-header-2:#264ca0;
    --color-1: #fff;
    --color-2: #230c61e7;
    --color-3: #6cd9e1;
    --color-4:#6266e4;
}

/* Content */
.header{
    background-image: linear-gradient(to top, var(--color-header-1), var(--color-header-2));
 }
footer{
    display: none;
}

section{
    padding: 10px 30px;
}

#wave{
    margin-top: -80px;
    z-index: 1;
}

.hide{
    display: none;
}
/* Form */
.form-card{
    background-color: #fff;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.295);
    padding: 20px 30px;
    display: grid;
    border-top: 5px solid var(--color-3);
    justify-items: center; 
    z-index: 20;
}
.row-1{
    margin-top: 15px;
    width: 100%;
}

/* Buttons */
.btn-demo{
    margin-top: 50px;
    background-color: var(--color-4);
    width: 200px;
    height: 40px;
    border-radius: 30px;
}
.btn-demo:focus{
    background-color: var(--color-4);
    border-color: var(--color-4);
}
.btn-talk{
    margin-top: 15px;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid var(--color-4);
    background-color: #FFF;
    color: var(--color-4);
}
.btn-talk:focus{
    background-color: #fff;
    color: var(--color-4);
    border-color: #6266e4;
}
.btn-end{
    text-align: center;
}
/* Validate Email */
#error-email, #error-emailmodal{
    color: crimson;
    font-size: var(--smal-font-size);
}
#email:invalid{
    border-color: crimson;
    box-shadow: 0px 0px  3px crimson;
}

#email:focus:invalid{
    box-shadow: none;
}
#emailmodal:invalid{
    border-color: crimson;
    box-shadow: 0px 0px  3px crimson;
}

#emailmodal:focus:invalid{
    box-shadow: none;
}


/* Modal */


.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-4);
}

.modal-title{
    font-size: var(--medium-font-size);
    font-weight: bold;
}
.modal-close{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: var(--medium-font-size);
    font-weight: bold;
}
.modal-body{
    padding: 10px 15px;
}
.mdemo{
    text-align: center;
    padding: 15px 30px;
    }

/* Pop up */
.pop-up{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center;
    z-index: 40;

}
.contentbox{
    position: relative;
    background: var(--color-1);
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    
}
#overlay{
    position: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    display: block;
    z-index: 30;
}
/* Media */

@media screen and (max-width: 768px){
    .nav{
        width: 100%;
        height: 50px;
        padding: 10px 30px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 300;
    }
    #logo{
        width: 20px;
        height: 20px;
    }
    .nav-logo{
        font-size: 20px;
        color: var(--color-1);
    }
    .nav-log{
        font-size: var(--normal-font-size);
        color: var(--color-1);
    }
    .nav-item{
        display:none;
    }

    h1{
        font-size: var(--medium-font-size);
        font-weight: 500;
    }
    .header-content{
        padding: 20px 30px;
        color: var(--color-1);
        font-size: var(--normal-font-size);
        font-weight: 500;
        
    }
    .h-conten-p{
        font-size: var(--smal-font-size);
        color: var(--color-2);
        font-weight: 500;
    }

    .form-card{
        margin-top: 50px;
        width: 300px;
        
        
    }

    h2{
        font-size: 20px;
        color: #000;
        text-align: center;
    }

    .section-title{
        text-align: center;
        font-size: 25px;
    }
    .section-header{
        text-align: center;
        font-size: var(--normal-font-size);
    }
    
    #img-card1, #img-card2, #img-card3{
        width: 70px;
        height: 70px;
    }

    .cards-content{
        text-align: center;
        margin-top: 80px;
        font-size: var(--normal-font-size);
    }

    h3{
        font-size: var(--medium-font-size);
    }

    .card1, .card2, .card3{
        margin-top: 35px;
    }

    footer{
        margin-top: 50px;
        font-size: var(--smal-font-size);
        background: var(--color-header-1);
        color: var(--color-1);
        display: flex;
        justify-content: space-between;
        height: 50px;
        padding: 20px 30px;
    }
    .contentbox{
        width: 150px;
        height: 150px;
        padding: 15px 30px;
        align-self: center;
        align-content: center;
    }
    
}

#wave{
    margin-top: -30px;

}


@media (min-width: 768px) and (max-width: 1024px) { 
    .nav{
        width: 100%;
        height: 50px;
        padding: 10px 30px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 300;
    }

    #logo{
        width: 20px;
        height: 20px;
    }
    .nav-logo{
        font-size: 24px;
        color: var(--color-1);
    }
    .nav-content{
        font-size: var(--smal-font-size);
        color: var(--color-1);
    }
    nav li{
        display: inline-block;
        margin: 0 0 0 10px; 
    }
    
    .header-content{
        display: flex;
        margin-top: 30px;
        padding: 20px 30px;
        justify-content: space-between;
    }
    h1{
        font-size: var(--medium-font-size);
        font-weight: 500;
    }
   .h-content{
       color: var(--color-1);
       font-size: var(--normal-font-size);
       font-weight: 500;
       width: 300px;
   }
   .h-conten-p{
       color: var(--color-2);
       font-size: var(--smal-font-size);
       font-weight: 500;
   }

   .form-card{
       background-color: var(--color-1);
       width: 40%;
       margin-left: 50px;
   }    

    .section-title{
        text-align: center;
        font-size: 25px;
    }

    .section-header{
        text-align: center;
        font-size: var(--normal-font-size);
    }
    #img-card1, #img-card2, #img-card3{
        width: 70px;
        height: 70px;
    }
    .cards-content{
        display: flex;
        justify-content: space-between;
        font-size: var(--normal-font-size);
        text-align: center;
        margin: 80px 0px 0px 15px;
        align-items: center;
    }

    h3{
        font-size: 20px;
    }

    .card1, .card2, .card3{
        margin: 0 0 0 15px;
    }

    .contentbox{
        width: 250px;
        height: 200px;
        padding: 15px 30px;
        align-self: center;
        align-content: center;
    }
    .contentbox h2{
        margin-top: 50px;
        font-size: var(--medium-font-size);
        font-weight: 500;
    }

    }

@media (min-width: 1024px) {
    .nav{
        width: 100%;
        height: 50px;
        padding: 10px 30px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 300;
    }

    #logo{
        width: 20px;
        height: 20px;
    }
    .nav-logo{
        font-size: 24px;
        color: var(--color-1);
    }
    .nav-content{
        font-size: var(--normal-font-size);
        color: var(--color-1);
    }
    nav li{
        display: inline-block;
        margin: 0 0 0 10px; 
    }
    .header-content{
        display: flex;
        margin-top: 30px;
        padding: 20px 30px;
        justify-content: space-between;
    }
    h1{
        font-size: var(--big-font-size);
        font-weight: 500;
    }
   .h-content{
       color: var(--color-1);
       font-size: var(--normal-font-size);
       font-weight: 500;
       width: 400px;
   }
   .h-conten-p{
       color: var(--color-2);
       font-size: var(--smal-font-size);
       font-weight: 500;
   }

   .form-card{
       background-color: var(--color-1);
       width: 30%;
       margin-left: 50px;
   }
   .section-title{
    text-align: center;
    font-size: 25px;
}

.section-header{
    text-align: center;
    font-size: var(--normal-font-size);
}
#img-card1, #img-card2, #img-card3{
    width: 70px;
    height: 70px;
}
.cards-content{
    display: flex;
    justify-content: space-between;
    font-size: var(--normal-font-size);
    text-align: center;
    margin: 80px 0px 0px 15px;
    align-items: center;
}

h3{
    font-size: 20px;
}

.card1, .card2, .card3{
    margin: 0 0 0 15px;
}

.contentbox{
    width: 250px;
    height: 200px;
    padding: 15px 30px;
    align-self: center;
    align-content: center;
}
.contentbox h2{
    margin-top: 50px;
    font-size: var(--medium-font-size);
    font-weight: 500;
}


}